.wrapper {
	margin: 0 auto;
	margin-top: 100px;
    width: 1000px;
}

.tabs-nav {
	display: flex;
	justify-content: space-between;
}
.tabs-nav__item {
	border-bottom: 5px solid transparent;
	cursor: pointer;
	flex: 1;
	padding: 20px;
    background-color: #23201D;
    color: #937341;
    font-size: 20px;

}
.tabs-nav__item:hover{
    transition: ease 1.0s;
    background-color: bisque;
}

.tabs-nav__item.is-active {
	border-color: yellow;
    background-color:#937341 ;
    color: #23201D;

}
.tab {
	background-color: #7c7979;
	display: none;
	padding: 20px;
}
.tab.is-active {
    display: block; 
}